<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.exangel.mobappdevandroid" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.exangel.mobappdevandroid.MenuScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.exangel.mobappdevandroid.SettingsScreen"
            android:label="@string/title_activity_settings_menu" >
        </activity>
        <activity
            android:name="com.example.exangel.mobappdevandroid.WebBrowserScreen"
            android:label="@string/title_activity_web_browser_menu" >
        </activity>
        <activity
            android:name="com.example.exangel.mobappdevandroid.vejledningScreen"
            android:label="@string/title_activity_vejledning_screen" >
        </activity>
        <activity
            android:name="com.example.exangel.mobappdevandroid.HangmanScreen"
            android:label="@string/title_activity_hangman_screen" >
        </activity>
        <activity
            android:name="com.example.exangel.mobappdevandroid.HangmanSettingsScreen"
            android:label="@string/title_activity_hangman_settings_screen" >
        </activity>
    </application>

</manifest>
